@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f3e5f5;
  --secondary-color: #e1bee7;
  --accent-color: #e3b8ef;
  --text-color: #37474f;
  --background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-text;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-greatVibes;
  }
}

@media (max-width: 768px) {
  /* Mobile-specific styles */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}
